ElLib.BLL/Connected Services/AdvSevice/AdvertisingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50817/AdvertisingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ElLib.Common.Entities.WCF" />
  <xs:element name="GetRandomByCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomByCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ElLib.Common.Entities.WCF" minOccurs="0" name="GetRandomByCountResult" nillable="true" type="q1:ArrayOfAdvertising" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>