ElLib.BLL/Connected Services/AdvSevice/AdvertisingService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Security.Util" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Security.Util" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50817/AdvertisingService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="URLString">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SiteString">
        <xs:sequence>
          <xs:element name="m_directory" nillable="true" type="tns:DirectoryString" />
          <xs:element name="m_fullurl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_isUncShare" type="xs:boolean" />
          <xs:element name="m_localSite" nillable="true" type="tns:LocalSiteString" />
          <xs:element minOccurs="0" name="m_parseDeferred" type="xs:boolean" />
          <xs:element minOccurs="0" name="m_parsedOriginal" type="xs:boolean" />
          <xs:element name="m_port" type="xs:int" />
          <xs:element name="m_protocol" nillable="true" type="xs:string" />
          <xs:element name="m_siteString" nillable="true" type="tns:SiteString" />
          <xs:element minOccurs="0" name="m_urlOriginal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="m_userpass" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="URLString" nillable="true" type="tns:URLString" />
  <xs:complexType name="SiteString">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="m_separatedSite" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element name="m_site" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteString" nillable="true" type="tns:SiteString" />
  <xs:complexType name="DirectoryString">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SiteString">
        <xs:sequence>
          <xs:element name="m_checkForIllegalChars" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DirectoryString" nillable="true" type="tns:DirectoryString" />
  <xs:complexType name="LocalSiteString">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SiteString">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocalSiteString" nillable="true" type="tns:LocalSiteString" />
</xs:schema>