ElLib.BLL/Connected Services/AdvSevice/AdvertisingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ElLib.Common.Entities.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ElLib.Common.Entities.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50817/AdvertisingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Security.Policy" />
  <xs:complexType name="ArrayOfAdvertising">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Advertising" nillable="true" type="tns:Advertising" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdvertising" nillable="true" type="tns:ArrayOfAdvertising" />
  <xs:complexType name="Advertising">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Security.Policy" minOccurs="0" name="Picture" nillable="true" type="q1:Url" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Security.Policy" minOccurs="0" name="Url" nillable="true" type="q2:Url" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Advertising" nillable="true" type="tns:Advertising" />
</xs:schema>